<!-- 这个归成研究报告界面比较好 -->
{% extends 'base.html' %}
{% block title  %} 情报需求模块 {% endblock %}
{%  load static %}

  
 {% block custom %}
  <link rel="stylesheet" href="/static/it/css/product/special_vertical.css">
    <link rel="stylesheet" href="/static/it/css/product/chanye.css">
    <script src="/static/it/js/product/special_vertical.js"></script>
{% endblock %}

  

{% block content %}
    <div class="nav">
        <div class="nav_inbox">
            <a href="{% url 'home' %}">
                <img class="logo" src="/static/it/img/logo_jd.png" alt="">
            </a>
            <div class="search">
                <input type="text" id="HeaderInputSearch" onkeydown="SearchKeyDown(event, 'HeaderInputSearch')" placeholder="请输入家电关键词">
                <a class="search_btn" href="javascript:void(0);" onclick="SearchCommon('HeaderInputSearch')">立即搜索</a>
            </div>
        </div>
    </div>
 


    


    <div class="nav2">
        <ul>
            <li><a  href="{% url 'home' %}">情报首页</a></li>
            <li><a class="act2" href="#" target="_blank">研究报告</a></li>
            <li><a  href="javascript:void(0);">奥维云网</a></li>
            <li><a href="javascript:void(0);" target="_blank">中国知网</a></li>
        </ul>
    </div>
  

<div>
    <input type="hidden" id="ChannelColumnIdHidden" />
    <input type="hidden" id="ListTypeHidden" value="" />
    <input type="hidden" id="ListValueHidden" />

    <input type="hidden" id="NewsLastDateHidden" />

</div>


<div class="bg_color7">
    <div class="content3">
        <!-- title start -->
        <div class="search_title_23">
                        <a href="#" class="">产业洞察</a>
                        <a href="#" class="">行业研究</a>
                        <a href="#" class="">用户调研</a>
                        <!-- <a href="/news/viewindustry/TouRongZiQingKuang/" class="">投融资情况</a> -->
                        <a href="#" class="">院内报告</a>
                        <!-- <a href="#" class="">产业研报</a>
                        <a href="#" class="">产业风口</a> -->
                        <!-- <a href="/news/viewindustry/ChanYeTuPu/" class="">产业图谱</a> -->

            
        </div>
        <!-- title end -->
        <!-- search start -->
        <div class="chart-vd f-cb">
            <ul>
                <li>
                    <p class="name">产品类型：<span id="nFirst">不限</span><i>&Lambda;</i></p>
                    <div id="divFirst" class="chart-drop f-cb">
                                <a href="#" class="current">不限</a>
                                    <a href="#" class="">电风扇</a>
                                    <a href="#" class="">电暖气</a>
                                    <a href="#" class="">净水机</a>
                                  
                    </div>
                </li>

                <li>
                    <div id="divItem">
                        <p class="name">报告时间：<span id="nItem">不限</span><i>&Lambda;</i></p>
                        <div class="chart-drop f-cb">
                            <div id="divItems" class="f-cb">

                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <div class="search-head">
                <input type="text" id="queryKey" class="keys" value="" placeholder="请输入关键词">
                <p class="sub_23" onclick="QueryKeywordClick()">
                    <img src="/static/it/images/chanye_search_23.png" alt="">
                    搜索
                </p>
            </div>
        </div>
        <!-- search end -->
        <!-- content list start -->
        <div class="content_list_23">
            <ul>
                 <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="/static/it/images/p2.png" alt="#">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>产业洞察</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">2023年中国养老产业研究报告</a>
                                    </div>
                                </li>              
                

                                <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="./images/p2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>行业研究</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">2023年小家电市场趋势洞察报告</a>
                                    </div>
                                </li>


                               
                                <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="./images/p2.png" alt="#">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>用户调研</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">Z时代家电消费及内容兴趣报告</a>
                                    </div>
                                </li>
                                
                               
                                <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="./images/p2.png" alt="#">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>用户调研</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">2023年中国新锐品牌发展研究报告</a>
                                    </div>
                                </li>
                                
                                
                               
                                
                                <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="./images/p2.png" alt="#">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>用户调研</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">二手经济下用户的观察报告</a>
                                    </div>
                                </li>
                               
                                <li>
                                    <div class="content_list_img_23">
                                        <a href="#" title="#" target="_blank">
                                            <img src="./images/p2.png" alt="#">
                                        </a>
                                    </div>
                                    <div class="content_list_font_232">
                                        <a href='#' target='_blank' title='#'>产业洞察</a>
                                        
                                        <b>2024-07-29</b>
                                    </div>
                                    <div class="content_list_title_231">
                                        <a href="#" title="#" target="_blank" class="wes2">2023年中国清洁电器产业发展白皮书</a>
                                    </div>
                                </li>
                               
            </ul>
        </div>
        <!-- content list end -->
        <!-- padding start -->
        <div class="Pagination margin_top26" id="kkpager">
            
        </div>
        <!-- padding end -->
    </div>
</div>
<!-- content start -->


   
{% endblock %}
